{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h3>Password Reset</h3>
    <p>
        Enter your password below. An email with the instruction will be set
    </p>
    
    <form method="POST" class="custom-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Email</label>
            {{form.email}}
        </div>
        <input type="submit" value="Send Email">
    
    </form>
</div>
{% endblock %}