{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h3>Enter New Password</h3>
    <p>
        Please enter you new password!
    </p>
    
    <form method="POST" class="custom-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_new_password1">New password:</label>
            {{form.new_password1}}
            <label for="id_new_password2">New password confirmation:</label>
            {{form.new_password2}}
            
        </div>
        <input type="submit" value="Update Password">
    
    </form>
</div>
{% endblock %}
