{% extends 'base.html' %}
{% load static %}

{% block title %} Index {% endblock %}

{% block content %}
<div class="main-container">
    <img src="{% static 'images/shield.png' %}" alt="Secure Django Image" class="dashboard-image">
    <p>
        In an increasingly interconnected world, the importance of digital security cannot be overstated. 
        As technology advances, so do the threats that compromise our online safety. At Secure Django, 
        we are dedicated to empowering you with the knowledge and tools necessary to safeguard your digital presence.
    </p>
    
    {% if not user.is_authenticated %}
        <button class="cta-button"><a href="{% url 'register' %}"> Make an Account </a></button>
    {% endif %}
</div>
{% endblock %}